{% extends "base_v3.html" %}

{% block menu_1 %}
    <el-menu :default-active="'1'" class="el-menu-demo" mode="horizontal" router>
        <el-menu-item index="1" onclick="window.location='my_weekly_report';">本周基本情况</el-menu-item>
        <el-menu-item index="2" onclick="window.location='my_weekly_report';">我的周报</el-menu-item>
        <el-menu-item index="3" onclick="window.location='weekly_report_summary';">周报记录</el-menu-item>
        <el-menu-item style="float:right;" onclick="window.location='/logout';">
            {% if user.is_authenticated %}
                注销
            {% else %}
                <el-menu-item>登录</el-menu-item>
            {% endif %}
        </el-menu-item>
    </el-menu>
{% endblock %}


{% block content %}
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="20">
            <div class="grid-content">

                <el-form ref="form" :model="form" label-width="100px">
                    {% csrf_token %}

                    <el-form-item label="日期">
                        <el-date-picker
                                value-format="yyyy-MM-dd"
                                size="large"
                                v-model="form.date"
                                type="date"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>

                        <el-row>
                            <el-col :span="4">
                                <el-form-item label="平均工作时间">
                                    <el-input v-model="form.tomorrow_quantitative"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="有效时间">
                                    <el-input v-model="form.tomorrow_quantitative"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="请假情况">
                                    <el-input v-model="form.tomorrow_quantitative"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="周评分">
                                    <el-input v-model="form.tomorrow_quantitative"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="自评级">
                                    <el-input v-model="form.tomorrow_quantitative"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-form-item label="问题建议">
                            <el-input v-model="form.tomorrow_quantitative"></el-input>
                        </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" size="small">创建</el-button>
                    </el-form-item>
                </el-form>

            </div>
        </el-col>
    </el-row>
{% endblock %}

{% block script %}
    <script type="module">
        var app = new Vue({
            el: '#app',
            data: {
                time_status: 1,
                menu: "4",
                radio: 1,
                default_active: "2",
                tableData: null,
                tomorrow_1: true,
                tomorrow_2: false,
                tomorrow_3: false,
                tomorrow_4: false,
                tomorrow_5: false,
                today_1: true,
                today_2: false,
                today_3: false,
                today_4: false,
                today_5: false,
                options: [{
                  value: '用时情况',
                  label: '用时情况'
                },  {
                  value: '本周工作',
                  label: '本周工作'
                }, {
                  value: '下周计划',
                  label: '下周计划'
                }, {
                  value: '问题建议',
                  label: '问题建议'
                }],
                form: {
                    type:"",
                    date: "",
                    tomorrow_name : "",
                    sub_name : "",
                    tomorrow_day : 0,
                    tomorrow_quantitative : "",
                    tomorrow_qualitative : "",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
            },
            methods: {
                test() {
                    alert("上传成功");
                },
                onSubmit() {
                    const getParams = (obj) => {
                        const params = new URLSearchParams();
                        const keys = Object.keys(obj);
                        for (let k of keys) {
                            params.append(k, obj[k]);
                        }
                        return params;
                    }

                    axios.post('', getParams(this.form))
                        .then(function (response) {
                            if (response.data === "success") {
                                alert("提交成功");
                                location.reload();
                            } else {
                                alert(response.data);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
            mounted() {

                var now = new Date();
                var year = now.getFullYear();       //年
                var month = now.getMonth() + 1;     //月
                var day = now.getDate();            //日
                this.form.date = year + "-" + month + "-" + day;

                this.today_percentage = 10;
            },
        })
    </script>
{% endblock %}



{% block style %}
    html, body {
    height: 100%;

    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    }

    body {
    margin: 0;
    padding: 0;
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
    }

    .el-input__inner {
    width: 100%!important;
    }

    ::placeholder {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    }

    .el-aside {
    vh: 100%;
    }

    .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
    line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
    line-height: 320px;
    }

{% endblock %}