{% extends "base_v3.html" %}

{% block menu_1 %}
    <el-menu :default-active="'2'" class="el-menu-demo" mode="horizontal" router>
        <el-menu-item index="1" onclick="window.location='my_daily_report';">我的日报</el-menu-item>
        <el-menu-item index="2" onclick="window.location='daily_report_summary';">日报记录</el-menu-item>
        <el-menu-item index="3" onclick="window.location='group_daily_report_summary';">本组日报</el-menu-item>
        <el-menu-item style="float:right;" onclick="window.location='/logout';">
            {% if user.is_authenticated %}
                注销
            {% else %}
                <el-menu-item>登录</el-menu-item>
            {% endif %}
        </el-menu-item>
    </el-menu>
{% endblock %}


{% block content %}
<el-row type="flex" class="row-bg" justify="center">
    <el-col :span="24">
        <div class="grid-content">
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column
                        width="80px"
                        prop="real_name"
                        label="姓名"
                >
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="date"
                        label="日期"
                >
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="type"
                        label="大项"
                >
                </el-table-column>
                <el-table-column
                        width="200px"
                        prop="name"
                        label="小项">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="sub_name"
                        label="分项">
                </el-table-column>
                <el-table-column
                        prop="quantitative"
                        label="定量描述">
                </el-table-column>
                <el-table-column
                        prop="qualitative"
                        label="定性描述">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="day"
                        label="人日">
                </el-table-column>
                <el-table-column label="操作" prop="id">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row.id)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-col>
</el-row>
{% endblock %}

{% block script %}
<script type="module">
    var app = new Vue({
        el: '#app',
        data: {
            show: false,
            message: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            radio: 1,
            default_active: "2",
            tableData: null,
        },
        methods: {
            test() {
                alert("上传成功");
            },
            handleEdit(id) {
                const params = new URLSearchParams();
                params.append('id', id);
                axios.post('delete_daily_report_summary_api', params)
                        .then(function (response) {
                            if (response.data === "success") {
                                alert("删除成功");
                                location.reload();
                            } else {
                                alert(response.data);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            }
        },
        mounted() {
            axios
                .get('daily_report_summary_api')
                .then(response => (this.tableData = response.data))
        }
    })
</script>
{% endblock %}



{% block style %}
    html, body {
        height: 100%;
    }

    body {
        margin: 0px;
        padding: 0px;

    }

    #app {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        height: 100%;
    }

    .el-aside {
        vh: 100%;
    }

    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .el-table .cell {
        white-space:pre-wrap
    }
{% endblock %}