{% extends "base_v3.html" %}

{% block menu_1 %}
    <el-menu :default-active="'2'" class="el-menu-demo" mode="horizontal" router>
        <el-menu-item index="1" onclick="window.location='my_daily_report';">我的日报</el-menu-item>
        <el-menu-item index="2" onclick="window.location='daily_report_summary';">日报记录</el-menu-item>
        <el-menu-item index="3" onclick="window.location='group_daily_report_summary';">本组日报</el-menu-item>
        <el-menu-item style="float:right;" onclick="window.location='/logout';">
            {% if user.is_authenticated %}
                注销
            {% else %}
                <el-menu-item>登录</el-menu-item>
            {% endif %}
        </el-menu-item>
    </el-menu>
{% endblock %}


{% block content %}
<el-row type="flex" class="row-bg" justify="center">
    <el-col :span="24">
        <div class="grid-content">
            <el-table
                    :data="tableData"
                    :span-method="cellMerge"
                    style="width: 100%">
                <el-table-column
                        width="80px"
                        prop="real_name"
                        label="姓名"
                >
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="date"
                        label="日期"
                >
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="type"
                        label="大项"
                >
                </el-table-column>
                <el-table-column
                        width="200px"
                        prop="name"
                        label="小项">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="sub_name"
                        label="分项">
                </el-table-column>
                <el-table-column
                        prop="quantitative"
                        label="定量描述">
                </el-table-column>
                <el-table-column
                        prop="qualitative"
                        label="定性描述">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="day"
                        label="人日">
                </el-table-column>
                <el-table-column label="操作" prop="id">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.row)">编辑
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row.id)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-col>
</el-row>

<el-dialog title="修改日报" :visible.sync="dialogFormVisible">
    <el-form ref="form" :model="form" label-width="100px">
                    {% csrf_token %}

                    <el-form-item label="日期" v-show="0">
                        <el-date-picker
                                value-format="yyyy-MM-dd"
                                size="large"
                                v-model="form.date"
                                type="date"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="日期" v-show="0">
                        <el-input v-model="form.id"></el-input>
                    </el-form-item>

                        <el-row>

                            <el-col :span="4">
                                <el-form-item label="大项" >
                                    <el-tooltip class="item" effect="dark" content="日报的大项分为本日工作和明日计划" placement="top">
                                        <el-select v-model="form.type" placeholder="请选择">
                                            <el-option
                                              v-for="item in options"
                                              :label="item.label"
                                              :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-tooltip>
                                </el-form-item>
                            </el-col>

                            <el-col :span="8">
                                 <el-form-item label="小项">
                                     <el-tooltip class="item" effect="dark" content="小项填写内容为项目、课题的名称，如ISCC、电力仿真系统" placement="top">
                                         <el-input v-model="form.name"></el-input>
                                     </el-tooltip>
                                 </el-form-item>
                            </el-col>

                            <el-col :span="8">
                                 <el-form-item label="分项">
                                     <el-tooltip class="item" effect="dark" content="分项填写的内容较为固定，一般按照类型进行分类，例如文档、会议、代码" placement="top">
                                         <el-select v-model="form.sub_name" placeholder="请选择">
                                             <el-option
                                                 v-for="item in options2"
                                                 :key="item.value"
                                                 :label="item.label"
                                                 :value="item.value">
                                             </el-option>
                                         </el-select>
                                     </el-tooltip>
                                 </el-form-item>
                            </el-col>

                            <el-col :span="4">
                                 <el-form-item label="人日数">
                                    <el-input v-model="form.day"></el-input>
                                 </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                </el-form>
<div slot="footer" class="dialog-footer">
<el-button size="mini" @click="dialogFormVisible = false">取 消</el-button>
<el-button size="mini" type="primary" @click="postData">确 定</el-button>
</div>
</el-dialog>
{% endblock %}

{% block script %}
<script type="module">
    var app = new Vue({
        el: '#app',
        data: {
            dialogTableVisible: false,
            dialogFormVisible: false,
            show: false,
            spanArr: [],
            message: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            radio: 1,
            default_active: "2",
            data:null,
            tableData: null,
            options: [{
                  value: '本日工作',
                  label: '本日工作'
                }, {
                  value: '明日计划',
                  label: '明日计划'
                }],
                options2: [{
                  value: '代码',
                  label: '代码'
                }, {
                  value: '文档',
                  label: '文档'
                }, {
                  value: '会议',
                  label: '会议'
                }],
            form: {
                id: "",
                type:"",
                date: "",
                name : "",
                sub_name : "",
                day : 0,
                quantitative : "",
                qualitative : "",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
        },
        methods: {
            test() {
                alert("上传成功");
            },
            handleEdit(row) {
                this.dialogFormVisible = true;
                this.form.id = row.id
                this.form.type = row.type;
                this.form.date = row.date;
                this.form.name = row.name;
                this.form.sub_name = row.sub_name;
                this.form.day = row.day;
                this.form.quantitative = row.quantitative;
                this.form.qualitative = row.qualitative;
            },
            postData() {
                const getParams = (obj) => {
                    const params = new URLSearchParams();
                    const keys = Object.keys(obj);
                    for (let k of keys) {
                        params.append(k, obj[k]);
                    }
                    return params;
                }
                axios.post('edit_daily_report_summary_api', getParams(this.form))
                        .then(function (response) {
                            if (response.data === "success") {
                                alert("修改成功");
                                location.reload();
                            } else {
                                alert(response.data);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            },
            handleDelete(id) {
                const params = new URLSearchParams();
                params.append('id', id);
                axios.post('delete_daily_report_summary_api', params)
                        .then(function (response) {
                            if (response.data === "success") {
                                alert("删除成功");
                                location.reload();
                            } else {
                                alert(response.data);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            },
            getSpanArr(data, that) {
                for (var i = 0; i < data.length; i++) {
                    if (i === 0) {
                        that.spanArr.push(1);
                        that.pos = 0
                    } else {
                        // 判断当前元素与上一个元素是否相同
                        if (data[i].type === data[i - 1].type) {
                            that.spanArr[this.pos] += 1;
                            that.spanArr.push(0);
                        } else {
                            that.spanArr.push(1);
                            that.pos = i;
                        }
                    }
                }
            },
            cellMerge({ row, column, rowIndex, columnIndex }) {
                console.log(this.spanArr);
                if (columnIndex === 2) {
                    const _row = this.spanArr[rowIndex];
                    const _col = _row > 0 ? 1 : 0;
                    return {
                          rowspan: _row,
                          colspan: _col
                    }
                }
            },
        },
        mounted() {
            axios
                .get('daily_report_summary_api')
                .then(response => {
                    this.tableData = response.data;
                    console.log(this.tableData);
                    this.getSpanArr(this.tableData, this);
                })
        }
    })
</script>
{% endblock %}



{% block style %}
    html, body {
        height: 100%;
    }

    body {
        margin: 0px;
        padding: 0px;

    }

    #app {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        height: 100%;
    }

    .el-aside {
        vh: 100%;
    }

    .el-dialog {
         width: 90%;
    }

    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .el-table .cell {
        white-space:pre-wrap
    }
{% endblock %}