{% extends "base_v3.html" %}

{% block menu_1 %}
    <el-menu :default-active="'4'" class="el-menu-demo" mode="horizontal" router>
        <el-menu-item index="1" onclick="window.location='my_daily_report';">我的日报</el-menu-item>
        <el-menu-item index="1" onclick="window.location='daily_report_summary';">日报记录</el-menu-item>
        <el-menu-item style="float:right;" onclick="window.location='/logout';">
            {% if user.is_authenticated %}
                注销
            {% else %}
                <el-menu-item>登录</el-menu-item>
            {% endif %}
        </el-menu-item>
    </el-menu>
{% endblock %}


{% block content %}
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="20">
            <div class="grid-content">

                <el-form ref="form" :model="form" label-width="100px">
                    {% csrf_token %}

                    <el-form-item label="日期">
                        <el-date-picker
                                value-format="yyyy-MM-dd"
                                size="large"
                                v-model="form.date"
                                type="date"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="今日工作">
                            <el-slider
                                style="margin-left: 20px;"
                                v-model="form.today_value"
                                :min=1
                                :max=5
                                @input="today_number_changed"
                                 show-input>
                            </el-slider>

                    </el-form-item>

                    <el-row v-show="today_1">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项1">
                                    <el-input v-model="form.today_1_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="实际人日数">
                                    <el-input v-model="form.today_1_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.today_1_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.today_1_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>

                    <el-row v-show="today_2">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项2">
                                    <el-input v-model="form.today_2_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="实际人日数">
                                    <el-input v-model="form.today_2_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.today_2_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.today_2_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>

                    <el-row v-show="today_3">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项3">
                                    <el-input v-model="form.today_3_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="实际人日数">
                                    <el-input v-model="form.today_3_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.today_3_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.today_3_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>

                    <el-row v-show="today_4">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项4">
                                    <el-input v-model="form.today_4_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="实际人日数">
                                    <el-input v-model="form.today_4_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.today_4_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.today_4_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>

                    <el-row v-show="today_5">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项5">
                                    <el-input v-model="form.today_5_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="实际人日数">
                                    <el-input v-model="form.today_5_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.today_5_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.today_5_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>

                    <el-form-item label="明日计划">
                            <el-slider
                                style="margin-left: 20px;"
                                v-model="form.tomorrow_value"
                                :min=1
                                :max=5
                                @input="tomorrow_number_changed"
                                 show-input>
                            </el-slider>

                    </el-form-item>

                    <el-row v-show="tomorrow_1">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项1">
                                    <el-input v-model="form.tomorrow_1_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="计划人日数">
                                    <el-input v-model="form.tomorrow_1_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.tomorrow_1_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.tomorrow_1_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>
                    <el-row v-show="tomorrow_2">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项2">
                                    <el-input v-model="form.name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="计划人日数">
                                    <el-input v-model="form.name"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.name"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.name"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>
                    <el-row v-show="tomorrow_3">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项3">
                                    <el-input v-model="form.tomorrow_3_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="计划人日数">
                                    <el-input v-model="form.tomorrow_3_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.tomorrow_3_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.tomorrow_3_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>
                    <el-row v-show="tomorrow_4">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项4">
                                    <el-input v-model="form.tomorrow_4_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="计划人日数">
                                    <el-input v-model="form.tomorrow_4_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.tomorrow_4_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.tomorrow_4_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>
                    <el-row v-show="tomorrow_5">
                        <el-row>
                            <el-col :span="16">
                                 <el-form-item label="小项5">
                                    <el-input v-model="form.tomorrow_5_name"></el-input>
                                 </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                 <el-form-item label="计划人日数">
                                    <el-input v-model="form.tomorrow_5_day"></el-input>
                                 </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                             <el-form-item label="定量描述">
                                <el-input v-model="form.tomorrow_5_quantitative"></el-input>
                             </el-form-item>
                        </el-row>

                        <el-row>
                             <el-form-item label="定性描述">
                                <el-input v-model="form.tomorrow_5_qualitative"></el-input>
                             </el-form-item>
                        </el-row>
                    </el-row>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" size="small">创建</el-button>
                    </el-form-item>
                </el-form>

            </div>
        </el-col>
    </el-row>
{% endblock %}

{% block script %}
    <script type="module">
        var app = new Vue({
            el: '#app',
            data: {
                radio: 1,
                default_active: "2",
                tableData: null,
                tomorrow_1: true,
                tomorrow_2: false,
                tomorrow_3: false,
                tomorrow_4: false,
                tomorrow_5: false,
                today_1: true,
                today_2: false,
                today_3: false,
                today_4: false,
                today_5: false,
                form: {
                    date: new Date(),
                    today_value: 1,
                    tomorrow_value: 1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    today_1_name: '',
                    today_1_day: '',
                    today_1_quantitative: '',
                    today_1_qualitative: '',
                    today_2_name: '',
                    today_2_day: '',
                    today_2_quantitative: '',
                    today_2_qualitative: '',
                    today_3_name: '',
                    today_3_day: '',
                    today_3_quantitative: '',
                    today_3_qualitative: '',
                    today_4_name: '',
                    today_4_day: '',
                    today_4_quantitative: '',
                    today_4_qualitative: '',
                    today_5_name: '',
                    today_5_day: '',
                    today_5_quantitative: '',
                    today_5_qualitative: '',
                    tomorrow_1_name: '',
                    tomorrow_1_day: '',
                    tomorrow_1_quantitative: '',
                    tomorrow_1_qualitative: '',
                    tomorrow_2_name: '',
                    tomorrow_2_day: '',
                    tomorrow_2_quantitative: '',
                    tomorrow_2_qualitative: '',
                    tomorrow_3_name: '',
                    tomorrow_3_day: '',
                    tomorrow_3_quantitative: '',
                    tomorrow_3_qualitative: '',
                    tomorrow_4_name: '',
                    tomorrow_4_day: '',
                    tomorrow_4_quantitative: '',
                    tomorrow_4_qualitative: '',
                    tomorrow_5_name: '',
                    tomorrow_5_day: '',
                    tomorrow_5_quantitative: '',
                    tomorrow_5_qualitative: '',
                },
            },
            methods: {
                test() {
                    alert("上传成功");
                },
                tomorrow_number_changed(num) {
                    if(num == 1) {
                        this.tomorrow_1 = true;
                        this.tomorrow_2 = false;
                        this.tomorrow_3 = false;
                        this.tomorrow_4 = false;
                        this.tomorrow_5 = false;
                    }
                    if(num == 2) {
                        this.tomorrow_1 = true;
                        this.tomorrow_2 = true;
                        this.tomorrow_3 = false;
                        this.tomorrow_4 = false;
                        this.tomorrow_5 = false;
                    }
                    if(num == 3) {
                        this.tomorrow_1 = true;
                        this.tomorrow_2 = true;
                        this.tomorrow_3 = true;
                        this.tomorrow_4 = false;
                        this.tomorrow_5 = false;
                    }
                    if(num == 4) {
                        this.tomorrow_1 = true;
                        this.tomorrow_2 = true;
                        this.tomorrow_3 = true;
                        this.tomorrow_4 = true;
                        this.tomorrow_5 = false;
                    }
                    if(num == 5) {
                        this.tomorrow_1 = true;
                        this.tomorrow_2 = true;
                        this.tomorrow_3 = true;
                        this.tomorrow_4 = true;
                        this.tomorrow_5 = true;
                    }
                },
                today_number_changed(num) {
                    if(num == 1) {
                        this.today_1 = true;
                        this.today_2 = false;
                        this.today_3 = false;
                        this.today_4 = false;
                        this.today_5 = false;
                    }
                    if(num == 2) {
                        this.today_1 = true;
                        this.today_2 = true;
                        this.today_3 = false;
                        this.today_4 = false;
                        this.today_5 = false;
                    }
                    if(num == 3) {
                        this.today_1 = true;
                        this.today_2 = true;
                        this.today_3 = true;
                        this.today_4 = false;
                        this.today_5 = false;
                    }
                    if(num == 4) {
                        this.today_1 = true;
                        this.today_2 = true;
                        this.today_3 = true;
                        this.today_4 = true;
                        this.today_5 = false;
                    }
                    if(num == 5) {
                        this.today_1 = true;
                        this.today_2 = true;
                        this.today_3 = true;
                        this.today_4 = true;
                        this.today_5 = true;
                    }
                },
                onSubmit() {
                    const getParams = (obj) => {
                        const params = new URLSearchParams();
                        const keys = Object.keys(obj);
                        for (let k of keys) {
                            params.append(k, obj[k]);
                        }
                        return params;
                    }

                    axios.post('', getParams(this.form))
                        .then(function (response) {
                            if (response.data === "success") {
                                alert("提交成功");
                            }
                            if (response.data === "error") {
                                alert("提交失败，你已经提交过了");
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
            mounted() {
                axios
                    .get('daily_report_summary_api')
                    .then(response => (this.tableData = response.data));
                var now = new Date();
                var year = now.getFullYear();       //年
                var month = now.getMonth() + 1;     //月
                var day = now.getDate();            //日
                this.form.date = year + "-" + month + "-" + day;
            },
        })
    </script>
{% endblock %}



{% block style %}
    html, body {
    height: 100%;

    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    }

    body {
    margin: 0;
    padding: 0;
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
    }

    ::placeholder {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    }

    .el-aside {
    vh: 100%;
    }

    .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
    line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
    line-height: 320px;
    }

{% endblock %}