{% extends "base_v3.html" %}

{% block menu_1 %}
    <el-menu :default-active="'4'" class="el-menu-demo" mode="horizontal" router>
        <el-menu-item index="1" onclick="window.location='index';">我的课题管理表</el-menu-item>
        <el-menu-item index="2" onclick="window.location='upload_history';">上传历史</el-menu-item>
        <el-menu-item index="3" onclick="window.location='status';">情况统计</el-menu-item>
        <el-menu-item index="4" onclick="window.location='sen_email_to_luosenlin';">发送邮件</el-menu-item>
        <el-menu-item style="float:right;" onclick="window.location='/logout';">
            {% if user.is_authenticated %}
                注销
            {% else %}
                <el-menu-item>登录</el-menu-item>
            {% endif %}
        </el-menu-item>
    </el-menu>
{% endblock %}


{% block content %}
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="12">
            <div class="grid-content">

                <el-form ref="form" :model="form" label-width="80px">
                    {% csrf_token %}

                    <el-form-item label="活动时间">
                        <el-date-picker
                                size="large"
                                v-model="form.date_time"
                                type="datetimerange"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :default-time="['12:00:00']"
                                style="width: 100%;">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="未到">
                        <el-input v-model="form.absent"></el-input>
                    </el-form-item>

                    <el-form-item label="迟到">
                        <el-input v-model="form.late"></el-input>
                    </el-form-item>

                    <el-form-item label="请假">
                        <el-input v-model="form.ask_for_leave"></el-input>
                    </el-form-item>

                    <el-form-item label="未更">
                        <el-input v-model="form.upload_fail_real_name"></el-input>
                    </el-form-item>

                    <el-form-item label="发送给">
                        <el-input v-model="form.send_to" placeholder="wangshuaipeng@bfs.bit.edu.cn"></el-input>
                    </el-form-item>

                    <el-form-item label="抄送">
                        <el-input v-model="form.cc"></el-input>
                    </el-form-item>


                    <el-button type="primary" @click="onSubmit" size="small">立即创建</el-button>
                    </el-form-item>
                </el-form>

            </div>
        </el-col>
    </el-row>
{% endblock %}

{% block script %}
    <script type="module">
        var app = new Vue({
            el: '#app',
            data: {
                radio: 1,
                default_active: "2",
                tableData: null,
                form: {
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                    date_time: '',
                    absent: '',
                    late: '',
                    ask_for_leave: '',
                    upload_fail_real_name: '{{ upload_fail_real_name }}',
                    send_to: '',
                    cc: '',
                },
            },
            methods: {
                test() {
                    alert("上传成功");
                },
                onSubmit() {
                    console.log('submit!');
                    axios.post('', this.form)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
            mounted() {
                axios
                    .get('status_api')
                    .then(response => (this.tableData = response.data))
            },
        })
    </script>
{% endblock %}



{% block style %}
    <style>
        html, body {
            height: 100%;

            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
        }

        input {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
            height: 100%;
        }

        ::placeholder {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
            height: 100%;
        }

        .el-aside {
            vh: 100%;
        }

        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

    </style>
{% endblock %}