{#{% extends "topic_manager_v2/base_v2.html" %}#}
{#{% block content %}#}
{#    <div class="container mt-5">#}
{#        <table class="table table-hover">#}
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">#</th>#}
{#                <th scope="col">姓名</th>#}
{#                <th scope="col">上次提交时间</th>#}
{#                <th scope="col">应提交时间</th>#}
{##}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for record in all_record %}#}
{#                <tr>#}
{#                    <th scope="row">{{ forloop.counter }}</th>#}
{#                    <td>{{ record.real_name }}</td>#}
{#                    <td>{{ record.last_upload_time|date:"Y-m-d H:i" }}</td>#}
{#                    <td>{{ record.should_upload_time|date:"Y-m-d H:i" }}</td>#}
{##}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#{% endblock content %}#}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BFS信息管理系统</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="background-color: #F56C6C;padding-right: 0;">
            <el-container>
                <el-aside width="230px" style="cursor:pointer;">
                    <div onclick="window.location='https://baidu.com';">管理控制台</div>
                </el-aside>
                <el-main style="padding: 0;">
                    <el-menu :default-active="'2'" class="el-menu-demo" mode="horizontal" router>
                        <el-menu-item index="1" onclick="window.location='index';">我的课题管理表</el-menu-item>
                        <el-menu-item index="2" onclick="window.location='upload_history';">上传历史</el-menu-item>
                        <el-menu-item index="3" onclick="window.location='status';">情况统计</el-menu-item>
                        <el-menu-item index="4" onclick="window.location='{% url 'sen_email_to_luosenlin' %}';">发送邮件</el-menu-item>
                        <el-menu-item style="float:right;" onclick="window.location='/logout';">
                            {% if user.is_authenticated %}
                                注销
                            {% else %}
                                <el-menu-item>登录</el-menu-item>
                            {% endif %}
                        </el-menu-item>
                    </el-menu>
                </el-main>
            </el-container>
        </el-header>
    </el-container>

    <el-container>
        <el-aside width="250px">
            <el-row class="tac">
                <el-menu default-active="2" class="el-menu-vertical-demo" style="height: calc(100vh - 60px);">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>个人中心</span>
                        </template>
                        <el-menu-item index="1-1">
                            <i class="el-icon-menu"></i>
                            <span slot="title">我的信息</span>
                        </el-menu-item>
                        <el-menu-item index="1-2">
                            <i class="el-icon-menu"></i>
                            <span slot="title">设置</span>
                        </el-menu-item>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-document"></i>
                        <span slot="title">课题管理</span>
                    </el-menu-item>
                </el-menu>
            </el-row>
        </el-aside>
        <el-main>

            <el-row type="flex" class="row-bg" justify="center">
                <el-col :span="12">
                    <div class="grid-content">
                        <el-table
                                :data="tableData"
                                style="width: 100%">
                            <el-table-column
                                    prop="real_name"
                                    label="姓名"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="username"
                                    label="用户名"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="time"
                                    label="应提交时间">
                            </el-table-column>
                            <el-table-column
                                    prop="path"
                                    label="下载地址">
                                <template scope="scope">
                                    <el-link :href=scope.row.path target="_blank">下载</el-link>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </el-col>
            </el-row>


        </el-main>
    </el-container>
</div>
</body>


<script type="module">
    var app = new Vue({
        el: '#app',
        data: {
            message: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            radio: 1,
            default_active: "2",
            tableData: null,
        },
        methods: {
            test() {
                alert("上传成功");
            },
        },
        mounted() {
            axios
                .get('upload_history_api')
                .then(response => (this.tableData = response.data))
        }
    })
</script>

<style>
    html, body {
        height: 100%;
    }

    body {
        margin: 0px;
        padding: 0px;

    }

    #app {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        height: 100%;
    }

    .el-aside {
        vh: 100%;
    }

    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

</style>
</html>