{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <ul class="list-group col-12">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1">[BFS通知]List group item heading</h5>
                        <small class="text-muted">1 days ago</small>
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">2 days ago</small>
                    </div>
                </a>


                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                </a>
            </ul>
        </div>

    </div>
{% endblock %}


