{% extends "index/base.html" %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <ul class="list-group col-12">
                {% for result in results %}
                    <div class="card">
                        <div class="card-header">
                            <span>{{ result.title }}</span> <span style="float:right">{{ result.create_time|date:"Y-m-d H:i" }}</span>
                        </div>
                        <div class="card-body">
                            {#                            <h5 class="card-title">Special title treatment</h5>#}
                            <p class="card-text">{{ result.content }}</p>
                            {#                            <a href="#" class="btn btn-primary">Go somewhere</a>#}
                        </div>
                    </div>


                    {#                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">#}
                    {#                        <div class="d-flex justify-content-between">#}
                    {#                            <h5 class="mb-1">{{ result.title }}</h5>#}
                    {#                            <small class="text-muted">{{ result.create_time|date:"Y-m-d H:i" }}</small>#}
                    {#                        </div>#}
                    {#                    </a>#}
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}


