{% extends "index/base.html" %}

{% block content %}
    <script>
    </script>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-800 modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">编辑页面</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--此处id与js保持一致，当前id为form-->
                        <div id="form">
                            {% csrf_token %}
                            <!--每个要输入的内容，class里都要包含这个内容对应的类-->
                            <div class="row">
                                <div class="form-group col-10">
                                    <label for="title">标题</label>
                                    <input class="title form-control" id="title" required>
                                    <div id="content-valid" class="valid-feedback">OK</div>
                                    <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                </div>
                                <div class="form-group col-2">
                                    <label for="type">类型</label>
                                    <select class="type form-control" id="type" required>
                                        <option value="bulletin">通知公告</option>
                                        <option value="news">新闻</option>
                                    </select>
                                </div>
                                <div class="form-group col-12">
                                    <label for="content">内容</label>
                                    <textarea class="content form-control" id="content" rows="5" required></textarea>
                                    <div id="content-valid" class="valid-feedback">OK</div>
                                    <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                </div>
                                <div class="all_record">
                                    <div class="record">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top: 26px">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary" id="submit_form">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap style="width:1rem!important;">序号</th>
                    <th class="real_name" scope="col" nowrap style="width:5.5rem;">发布人</th>
                    <th type="select" class="type" scope="col" nowrap style="width:3.5rem;">类型</th>
                    <th type="normal" class="title" scope="col" nowrap style="width:6rem;">标题</th>
                    <th type="normal" class="content" scope="col" nowrap style="width:4rem;">内容</th>
                    <th type="normal" class="create_time" scope="col" nowrap style="width:10rem;">创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr class="table_content" title="{{ result.id }}">
                        <td nowrap>{{ forloop.counter }}</td>
                        <td class="real_name" nowrap>{{ result.real_name }}</td>
                        <td type="select" class="type" nowrap>{{ result.type }}</td>
                        <td type="normal" class="title" nowrap>{{ result.title }}</td>
                        <td type="normal" class="content" nowrap>{{ result.content }}</td>
                        <td type="normal" class="create_time" nowrap>{{ result.create_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 右下角添加按钮 -->
        <style>
            #add {
                bottom: 3rem;
                right: 3rem;
                position: fixed;
            }
        </style>
        <a class="deploy_floating add_table_content" id="add" style="margin-left: 45%">
            <span class="fonticon_plus"></span>
        </a>
        <!-- 右下角添加按钮结束 -->
    </div>
{% endblock %}


