{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row mt-5 form-group col-6">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
            <div class="row mt-5">
                <div class="form-group col-6">
                    <label for="this_week_task">本周工作</label>
                    <textarea class="form-control" id="this_week_task" rows="20"
                              name="this_week_task">{% if submitted_weekly_summary %}{{ submitted_weekly_summary.this_week_task }}{% endif %}</textarea>
                </div>
                <div class="form-group col-6">
                    <label for="this_week_task">下周工作</label>
                    <textarea class="form-control" id="this_week_task" rows="20"
                              name="next_week_task">{% if submitted_weekly_summary %}{{ submitted_weekly_summary.next_week_task }}{% endif %}</textarea>
                </div>
            </div>
        </form>
    </div>
{% endblock %}