{% extends "base.html" %}

{% block content %}
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            <a class="nav-link" href="{% url "summary_list" %}">周报列表</a>
            {% if user.is_admin %}
                <a class="nav-link" href="{% url "report_mode" %}">汇报模式</a>
            {% endif %}
                <a class="nav-link" href="{% url "name_list" %}">名单</a>
        </nav>
    </div>
    {% load static %}
    <script src="{% static "js/summary_list.js" %}"></script>
    <div class="container-fluid mt-3">
        <div class="table-hover">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">事项</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.affair }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}