{% extends "weekly_summary/weekly_summary_base.html" %}

{% block content_2 %}
    {% load static %}
    <script src="{% static "js/summary_list.js" %}"></script>
    <div class="container-fluid mt-3">
        <div class="table-hover">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">事项</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.affair }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}