{% extends "base.html" %}

{% block content %}
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            <a class="nav-link" href="{% url "summary_list" %}">周报列表</a>
            {% if user.is_admin %}
                <a class="nav-link" href="{% url "report_mode" %}">汇报模式</a>
            {% endif %}
        </nav>
    </div>
    {% load static %}
    <script src="{% static "js/summary_list.js" %}"></script>
    <div class="container-fluid mt-3">
        <div class="table-hover">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">本周工作</th>
                    <th scope="col">下周工作</th>
                    <th scope="col">到场</th>
                    <th scope="col">请假</th>
                    <th scope="col">未到</th>
                </tr>
                </thead>
                <tbody>

                {% for result in results %}
                    <tr title="{{ result.id }}" class="">
                        {% autoescape off %}
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ result.real_name }}</td>
                            <td style="white-space: pre-wrap">{{ result.this_week_task }}</td>
                            <td style="white-space: pre-wrap">{{ result.next_week_task }}</td>
                            <td>{% if result.is_present %}是{% else %}{% endif %}</td>
                            <td>{% if result.is_left %}是{% else %}{% endif %}</td>
                            <td>{% if result.is_absent %}是{% else %}{% endif %}</td>
                        {% endautoescape %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}