{% extends "base_v3.html" %}

{% block menu_1 %}
    <el-menu :default-active="'1'" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1" onclick="window.location='/info/user_manage';">用户列表</el-menu-item>

        <el-menu-item style="float:right;" onclick="window.location='/logout';">
            {% if user.is_authenticated %}
                注销
            {% else %}
                <el-menu-item>登录</el-menu-item>
            {% endif %}
        </el-menu-item>
    </el-menu>
{% endblock %}

{% block content %}
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="12">
            <el-form ref="form" :model="form" label-width="80px">

                <el-form-item label="用户名">
                    <el-input v-model="form.username"></el-input>
                </el-form-item>

                <el-form-item label="激活">
                    <el-switch v-model="form.is_active"></el-switch>
                </el-form-item>

                <el-form-item label="组名">
                    <el-input v-model="form.group_name"></el-input>
                </el-form-item>

                <el-button type="primary" @click="onSubmit" size="small">立即创建</el-button>

            </el-form>
        </el-col>
    </el-row>
{% endblock %}

{% block script %}
    <script type="module">
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    form: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        username: '',
                        is_active: '',
                        group_name: '',
                    },
                    menu : "1-2",
                }
            },
            methods: {
                onSubmit() {
                    const getParams = (obj) => {
                        const params = new URLSearchParams();
                        const keys = Object.keys(obj);
                        for (let k of keys) {
                            params.append(k, obj[k]);
                        }
                        return params;
                    }

                    axios.post('/info/edit_user_api/' + window.location.href.split('/').slice(-2)[0] + "/", getParams(this.form))
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
            mounted() {
                axios
                    .get('/info/edit_user_api/' + window.location.href.split('/').slice(-2)[0],)
                    .then(
                        response => {
                            this.form.username = response.data.username;
                            this.form.is_active = response.data.is_active;
                            this.form.group_name = response.data.group_name;
                        }
                    )}
        })
    </script>
{% endblock %}

{% block style %}

    html, body {
    height: 100%;
    }

    body {
    margin: 0px;
    padding: 0px;

    }

    #app {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    }

    .el-aside {
    vh: 100%;
    }

    .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
    line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
    line-height: 320px;
    }

{% endblock %}
