{% extends "base.html" %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row ml-5 mr-5">
            <div class="col-3">
                {% load static %}
                <img src="{% static "nobody.jpg" %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="form-group col-3">
                        <label for="real_name">姓名</label>
                        <input class="form-control" id="real_name" type="text" placeholder="王帅鹏"
                               readonly>
                    </div>

                    <div class="form-group col-1">
                        <label for="real_name">性别</label>
                        <input class="form-control" id="gender" type="text" placeholder="男"
                               readonly>
                    </div>

                    <div class="form-group col-2">
                        <label for="real_name">民族</label>
                        <input class="form-control" id="nationality" type="text" placeholder="汉"
                               readonly>
                    </div>

                    <div class="form-group col-3">
                        <label for="real_name">生源地</label>
                        <input class="form-control" id="born_in" type="text" placeholder="河南省禹州市"
                               readonly>
                    </div>

                    <div class="form-group col-3">
                        <label for="real_name">身份证号</label>
                        <input class="form-control" id="real_name" type="text" placeholder="41108119960521499X"
                               readonly>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-2">
                        <label for="real_name">学号</label>
                        <input class="form-control" id="real_name" type="text" placeholder="3120180863"
                               readonly>
                    </div>

                    <div class="form-group col-2">
                        <label for="real_name">入学时间</label>
                        <input class="form-control" id="real_name" type="text" placeholder="2018-09"
                               readonly>
                    </div>

                    <div class="form-group col-2">
                        <label for="real_name">毕业时间</label>
                        <input class="form-control" id="real_name" type="text" placeholder="2021-06"
                               readonly>
                    </div>
                    <div class="form-group col-3">
                        <label for="real_name">专业</label>
                        <input class="form-control" id="real_name" type="text" placeholder="网络空间安全"
                               readonly>
                    </div>
                    <div class="form-group col-2">
                        <label for="real_name">组别</label>
                        <input class="form-control" id="real_name" type="text" placeholder="信息安全"
                               readonly>
                    </div>

                    <div class="form-group col-1">
                        <label for="real_name">导师</label>
                        <input class="form-control" id="real_name" type="text" placeholder="罗森林"
                               readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="real_name">开户行：</label>
                        <input class="form-control" id="real_name" type="text" placeholder="招商银行北京分行双榆树支行"
                               readonly>
                    </div>
                    <div class="form-group col-3">
                        <label for="real_name">银行卡号：</label>
                        <input class="form-control" id="real_name" type="text" placeholder="6225880169652659"
                               readonly>
                    </div>
                    <div class="form-group col-3">
                        <label for="real_name">电话</label>
                        <input class="form-control" id="real_name" type="text" placeholder="13937463312"
                               readonly>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-3">
                        <label for="real_name">电子邮件</label>
                        <input class="form-control" id="real_name" type="text" placeholder="Antiver@foxmail.com"
                               readonly>
                    </div>

                    <div class="form-group col-3">
                        <label for="real_name">原毕业学校</label>
                        <input class="form-control" id="real_name" type="text" placeholder="北京理工大学"
                               readonly>
                    </div>
                    <div class="form-group col-6">
                        <label for="real_name">原单位</label>
                        <input class="form-control" id="real_name" type="text" placeholder="北京理工大学"
                               readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-3">
                        <label for="real_name">答辩成绩</label>
                        <input class="form-control" id="real_name" type="text" placeholder="北京理工大学"
                               readonly>
                    </div>
                    <div class="form-group col-9">
                        <label for="real_name">学位论文</label>
                        <input class="form-control" id="real_name" type="text" placeholder="北京理工大学"
                               readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}