{% extends "base.html" %}

{% block content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="mt-5">
                <div class="form-group">
                    <label for="expected_result">预期有性成果</label>
                    <input type="text" class="form-control" id="expected_result" name="expected_result">
                </div>
                <div class="form-group">
                    <label for="content">目标说明</label>
                    <input type="text" class="form-control" id="content" name="content">
                </div>
                <div class="form-group">
                    <label for="content">用时</label>
                    <input type="text" class="form-control" id="time_consumed" name="time_consumed">
                </div>
                <button type="submit" class="btn btn-primary">提交</button>

            </div>
        </form>
{#        <div class="dtHorizontalExampleWrapper">#}
            <table id="dtHorizontalExample_wrapper" class="table mt-5 table-responsive">
                <thead>
                <tr>
                    <th scope="col" nowrap>序号</th>
                    <th scope="col" nowrap>任务类型</th>
                    <th scope="col" nowrap>任务名称</th>
                    <th scope="col" nowrap>工作成果</th>
                    <th scope="col" nowrap>是否通过评审</th>
                    <th scope="col" nowrap>负责人</th>
                    <th scope="col" nowrap>参与人</th>
                    <th scope="col" nowrap>计划持续时间</th>
                    <th scope="col" nowrap>计划开始日期</th>
                    <th scope="col" nowrap>计划完成日期</th>
                    <th scope="col" nowrap>实际持续时间</th>
                    <th scope="col" nowrap>实际开始日期</th>
                    <th scope="col" nowrap>实际完成日期</th>
                    <th scope="col" nowrap>提前/推迟（天）</th>
                    <th scope="col" nowrap>备注（文档页数、程序量，修改意见等）</th>
                </tr>
                </thead>
                <tbody>

                {% for result in results %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td nowrap>{{ result.type }}</td>
                        <td>{{ result.plan_name }}</td>
                        <td>{{ result.plan_result }}</td>
                        <td>{{ result.is_reviewed }}</td>
                        <td>无</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{#        </div>#}
    </div>
{% endblock %}