{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary">课程表</button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary">课程列表</button>
            </div>
        </div>
        <table class=" table table-bordered mt-5">
            <thead>
            <tr>
                <th scope="col">节次/星期</th>
                <th scope="col">星期一</th>
                <th scope="col">星期二</th>
                <th scope="col">星期三</th>
                <th scope="col">星期四</th>
                <th scope="col">星期五</th>
                <th scope="col">星期六</th>
                <th scope="col">星期日</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1(8:00-9:35)</th>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
                <td>中国特色社会主义实践与研究<br>4-14周</td>
            </tr>
            <tr>
                <th scope="row">2(9:50-12:15)</th>
                <td>中国特色社会主义实践与研究，4-14周</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">3(13:20-14:05)</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">4(15:10-17:35)</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">5(18:30-20:55)</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>


    </div>
{% endblock %}


