{% extends "base.html" %}

{% block content %}
    <div class="nav-scroller bg-white shadow-sm mt-1">
        <nav class="nav nav-underline">
            <a class="nav-link" href="time_table">课表</a>
            <a class="nav-link" href="time_table_list">课程列表</a>
        </nav>
    </div>
    <script>
        $(document).ready(function () {
            $('#time_table_list').click(function (event) {
                event.preventDefault();
                $(window).attr('location', 'time_table_list')
            });
        });
    </script>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class=" table table-bordered mt-5">
                <thead>
                <tr>
                    <th scope="col" nowrap>节次/星期</th>
                    <th scope="col" nowrap>星期一</th>
                    <th scope="col" nowrap>星期二</th>
                    <th scope="col" nowrap>星期三</th>
                    <th scope="col" nowrap>星期四</th>
                    <th scope="col" nowrap>星期五</th>
                    <th scope="col" nowrap>星期六</th>
                    <th scope="col" nowrap>星期日</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" nowrap>1(8:00-9:35)</th>
                    {% for class in classes_1 %}
                        {% if class is not None %}
                            <td nowrap>{{ class.class_name }}<br>{{ class.class_location }}<br>{{ class.week_start }}-{{ class.week_end }}周<br>{{ class.teacher_name }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row" nowrap>2(9:50-12:15)</th>
                    {% for class in classes_2 %}
                        {% if class is not None %}
                            <td nowrap>{{ class.class_name }}<br>{{ class.class_location }}<br>{{ class.week_start }}-{{ class.week_end }}周<br>{{ class.teacher_name }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row" nowrap>3(15:10-17:35)</th>
                    {% for class in classes_3 %}
                        {% if class is not None %}
                            <td nowrap>{{ class.class_name }}<br>{{ class.class_location }}<br>{{ class.week_start }}-{{ class.week_end }}周<br>{{ class.teacher_name }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row" nowrap>4(15:10-17:35)</th>
                    {% for class in classes_4 %}
                        {% if class is not None %}
                            <td nowrap>{{ class.class_name }}<br>{{ class.class_location }}<br>{{ class.week_start }}-{{ class.week_end }}周<br>{{ class.teacher_name }}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row" nowrap>5(15:10-17:35)</th>
                    {% for class in classes_5 %}
                        {% if class is not None %}
                            <td nowrap>{{ class.class_name }}<br>{{ class.class_location }}<br>{{ class.week_start }}-{{ class.week_end }}周<br>{{ class.teacher_name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}


