{% extends "base_v2.html" %}

{% block content %}
    {% load static %}
    <script src="{% static "js/register.js" %}"></script>
    <div class="container">
        <form class="align-items-end" style="margin-top: 5em;" action="/register" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" id="username" name="username"
                        placeholder="" required>
                <div id="username-valid" class="valid-feedback">
                    用户名可用
                </div>
                <div id="username-invalid" class="invalid-feedback">
                    请输入一个可用的用户名
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="" required>
                <div id="password-valid" class="valid-feedback">
                    密码可用
                </div>
                <div id="password-invalid" class="invalid-feedback">
                    请输入一个可用的密码
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">姓名</label>
                <input class="form-control" id="real_name" name="real_name" placeholder="" required>
                <div id="real_name-valid" class="valid-feedback">
                    名字没问题
                </div>
                <div id="real_name-invalid" class="invalid-feedback">
                    请输入一个可用的密码
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">学号</label>
                <input class="form-control" id="student_id" name="student_id" placeholder="" required>
                <div id="student_id-valid" class="valid-feedback">
                    学号可用
                </div>
                <div id="student_id-invalid" class="invalid-feedback">
                    请输入一个可用的密码
                </div>
            </div>

            <div class="form-group">
                <label for="group_name">组别</label>

                <select class="form-control" id="group_name" name="group_name" required>
                    <option value="数据挖掘" {% if info.group_name == "数据挖掘" %}selected{% endif %}>数据挖掘</option>
                    <option value="文本安全" {% if info.group_name == "文本安全" %}selected{% endif %}>文本安全</option>
                    <option value="网络安全1" {% if info.group_name == "网络安全1" %}selected{% endif %}>网络安全1</option>
                    <option value="网络安全2" {% if info.group_name == "网络安全2" %}selected{% endif %}>网络安全2</option>
                </select>
            </div>
            <div class="row">
                <div class="col-1">
                    <button type="submit" id="submitForm" class="btn btn-primary">注册</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
