{% extends "topic_manager/base.html" %}
{% block content %}
    <style>
        .modal-dialog.modal-800 {
            width: 1000px;
        {#margin: 30px auto;#} max-width: 1000px;
        }
    </style>
    <div class="container-fluid mt-3">
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-800 modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">周报</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="form">
                            <div class="row">
                                {% csrf_token %}
                                <div class="form-group col-4">
                                    <label for="this_week_task">工作周</label>
                                    <input class="week form-control" id="week" value="" required>
                                    <div id="content-valid" class="valid-feedback">OK</div>
                                    <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                </div>
                                <div class="form-group col-4">
                                    <label for="this_week_task">周平均日工作时间</label>
                                    <input class="average_work_hour form-control" id="average_work_hour" placeholder="例：9.9" required>
                                    <div id="content-valid" class="valid-feedback">OK</div>
                                    <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                </div>
                                <div class="form-group col-4">
                                    <label for="this_week_task">周请假(×0.5 天)</label>
                                    <input class="absent_hour form-control" id="absent_hour" name="absent_hour" value="0" required>
                                    <div id="content-valid" class="valid-feedback">OK</div>
                                    <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                </div>
                            </div>
                            <hr>
                            <div id="all_record">
                                <div id="record">
                                    <div class="row" id="replace_form">
                                        <div class="col-6">
                                            <div class="all_this_week_work">
                                                <div class="this_week_work">
                                                    <div class="form-group">
                                                        <label for="this_week_task">本周工作</label>
                                                        <input class="this_week_task form-control" value="" required></input>
                                                        <div id="content-valid" class="valid-feedback">OK</div>
                                                        <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="all_next_week_work">
                                                <div class="next_week_work">
                                                    <div class="form-group">
                                                        <label for="next_week_task">下周工作</label>
                                                        <input class="next_week_task form-control" value="" required></input>
                                                        <div id="content-valid" class="valid-feedback">OK</div>
                                                        <div id="content-invalid" class="invalid-feedback">ERROR</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="deploy_floating" id="add_this_week_work" style="margin-left: 20%">
                            <span class="fonticon_plus"></span>
                        </a>
                        <a class="deploy_floating" id="add_next_week_work" style="margin-left: 70%">
                            <span class="fonticon_plus"></span>
                        </a>
                        <hr style="margin-top: 26px">
                        <div class="row">
                            <div class="col-1">
                                <button class="btn btn-primary" id="submit_form" name="btn" value="submit">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap>序号</th>
                    <th type="normal" class="week" scope="col" nowrap>工作周</th>
                    <th type="normal" class="submit_time" scope="col" nowrap>提交日期</th>
                    <th type="normal" class="average_work_hour" scope="col" nowrap>周平均日工作时间</th>
                    <th type="normal" class="absent_hour" scope="col" nowrap>周请假（X0.5天）</th>
                    <th type="json" class="this_week_task" scope="col" nowrap>本周主要工作成果</th>
                    <th type="json" class="next_week_task" scope="col" nowrap>下周的工作计划</th>
                </tr>
                </thead>
                <tbody>
                {% for weekly_summary in weekly_summarys %}
                    <tr class="table_content" title="{{ weekly_summary.id }}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td type="normal" class="week" nowrap>{{ weekly_summary.week }}</td>
                        <td type="normal" class="submit_time" nowrap>{{ weekly_summary.submit_time|date:"Y-m-d" }}</td>
                        <td type="normal" class="average_work_hour" nowrap>{{ weekly_summary.average_work_hour }}</td>
                        <td type="normal" class="absent_hour" nowrap>{{ weekly_summary.absent_hour }}</td>
                        <td type="json" class="this_week_task" style="white-space: pre-wrap">{{ weekly_summary.this_week_task }}</td>
                        <td type="json" class="next_week_task" style="white-space: pre-wrap">{{ weekly_summary.next_week_task }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 右下角添加按钮 -->
        <style>
            #add {
                bottom: 3rem;
                right: 3rem;
                position: fixed;
            }
        </style>
        <a class="deploy_floating add_table_content" id="add" style="margin-left: 45%">
            <span class="fonticon_plus"></span>
        </a>
    </div>
    <!-- 右下角添加按钮结束 -->
    </div>
{% endblock %}