{% extends "base.html" %}
{% block content %}
    {% load static %}
    <script src="{% static "js/work_summary.js" %}"></script>
    <div class="container-fluid ">
        <!-- Button trigger modal -->
        <div class="mt-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" id="addForm" data-target="#exampleModalCenter">添加</button>
            <button type="button" class="btn btn-primary ml-4" id="modifyForm" data-toggle="modal" data-target="#exampleModalCenter">修改</button>
            <button type="button" class="btn btn-primary ml-4" id="deleteForm">删除</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-800 modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">工作总结</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            {% csrf_token %}
                            <input type="hidden" id="target_id" name="target_id" value="">
                            <div id="form">
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label for="type">类型（月/学期）</label>
                                        <select class="form-control" id="type" name="type" required>
                                            <option value="月总结">月总结</option>
                                            <option value="学期总结">学期总结</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="average_time">填表日期</label>
                                        <input type="text" class="form-control" id="date" name="date" required>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="average_time">平均工作小时（实际/有效）</label>
                                        <input type="text" class="form-control" id="average_time" name="average_time" required>
                                    </div>
                                    <div class="form-group col-3" hidden="true">
                                        <label for="all_days">总人日数（日）</label>
                                        <input type="text" class="form-control" id="all_days" name="all_days" required>
                                    </div>
                                </div>
                                <div class="all_plan">
                                    <div class="plan">
                                        <hr>
                                        <div class="form-group">
                                            <label for="summary">工作总结</label>
                                            <input type="text" class="form-control summary" id="summary" name="summary" required>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-2">
                                                <label for="man_day">人日数（天）</label>
                                                <input type="text" class="form-control man_day" id="" required>
                                            </div>
                                            <div class="form-group col-2">
                                                <label for="natural_day">自然日（天）</label>
                                                <input type="text" class="form-control natural_day" id="natural_day" name="natural_day" required>
                                            </div>
                                            <div class="form-group col-8">
                                                <label for="remark">计划执行情况和工作效果说明</label>
                                                <input type="text" class="form-control remark" id="remark" name="remark">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="deploy_floating" id="add_plan">
                            <span class="fonticon_plus"></span>
                        </a>
                        <hr style="margin-top: 26px">
                        <button class="btn btn-primary" id="submitForm">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap>类型（月、学期）</th>
                    <th scope="col" nowrap>填表日期</th>
                    <th scope="col" nowrap>平均工作小时数（实际/有效）</th>
                    <th scope="col" nowrap>总人日数（天）</th>
                    <th scope="col" nowrap>工作总结</th>
                    <th scope="col" nowrap>人日数（天）</th>
                    <th scope="col" nowrap>自然日（天）</th>
                    <th scope="col" nowrap>计划执行情况和工作效果说明</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr title="{{ result.id }}">
                        <td nowrap>{{ result.type }}</td>
                        <td nowrap>{{ result.date|date:"Y-m-d" }}</td>
                        <td nowrap>{{ result.average_time }}</td>
                        <td style="white-space: pre-wrap">{{ result.all_days }}</td>
                        <td style="white-space: pre-wrap">{{ result.summary }}</td>
                        <td style="white-space: pre-wrap">{{ result.man_day }}</td>
                        <td style="white-space: pre-wrap">{{ result.natural_day }}</td>
                        <td style="white-space: pre-wrap">{{ result.remark }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}